{
  "index_name": "docs.niteo.co",
  "repo": "ebn",
  "start_urls": [
    "http://localhost:8080"
  ],
  "allowed_domains": [
    "localhost"
  ],
  "stop_urls": [],
  "selectors": {
    "lvl0": "div.headertitle",
    "lvl1": ".section h1",
    "lvl2": ".section h2",
    "lvl3": ".section h3",
    "lvl4": ".section h4",
    "text": ".section p, .section li, .section dl"
  },
  "nb_hits": 963
}